<%- include ('../template/header') %>

  <%- include ('../template/nav') -%>


    <!-- about section -->

    <section class="about_section layout_padding">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6 ">
            <div class="img-box">
              <img src="images/about-img.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  We Are <span>Shifting House</span>
                </h2>
              </div>
              <p>
                Welcome to our house shifting service. We understand that moving can be a stressful and
                overwhelming experience, but we're here to make it as smooth and hassle-free as possible. Our team of
                experienced and skilled movers is dedicated to providing you with the best possible service at a
                competitive price.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->

    <%- include ('../template/footer') %>


      <!-- jQery -->
      <script src="js/jquery-3.4.1.min.js"></script>
      <!-- popper js -->
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
      <!-- bootstrap js -->
      <script src="js/bootstrap.js"></script>

      </body>

      </html>