<%- include ('../template/aheader') %>
<section class="main">
    <div class="sidebar">
        <ul class="sidebar--items">
            <li>
                <a href="/admin" id="active--link">
                    <span class="icon icon-1"><i class="ri-layout-grid-line"></i></span>
                    <span class="sidebar--item">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/service">
                    <span class="icon icon-2"><i class="ri-git-repository-line"></i></span>
                    <span class="sidebar--item">Service</span>
                </a>
            </li>
            <li>
                <a href="/booking">
                    <span class="icon icon-2"><i class="ri-calendar-2-line"></i></span>
                    <span class="sidebar--item">Booking Schedule</span>
                </a>
            </li>
            <li>
                <a href="/user">
                    <span class="icon icon-4"><i class="ri-user-line"></i></span>
                    <span class="sidebar--item">User</span>
                </a>
            </li>
            <li>
                <a href="/worker">
                    <span class="icon icon-3"><i class="ri-user-2-line"></i></span>
                    <span class="sidebar--item" style="white-space: nowrap;">Worker</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon icon-5"><i class="ri-line-chart-line"></i></span>
                    <span class="sidebar--item">Booking</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon icon-6"><i class="ri-customer-service-line"></i></span>
                    <span class="sidebar--item">Support</span>
                </a>
            </li>
        </ul>
        <ul class="sidebar--bottom-items">
            <li>
                <a href="#">
                    <span class="icon icon-7"><i class="ri-settings-3-line"></i></span>
                    <span class="sidebar--item">Settings</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                    <span class="sidebar--item">Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main--content">
        <div class="overview">
            <div class="title">
                <h2 class="section--title">Overview</h2>
                <select name="date" id="date" class="dropdown">
                    <option value="today">Today</option>
                    <option value="lastweek">Last Week</option>
                    <option value="lastmonth">Last Month</option>
                    <option value="last  yearss">Last   yearss</option>
                    <option value="alltime">All Time</option>
                </select>
            </div>
            <div class="cards">
                <div class="card card-1">
                    <div class="card--data">
                        <div class="card--content">
                            <h5 class="card--title">Total Worker</h5>
                            <h1>15</h1>
                        </div>
                        <i class="ri-user-2-line card--icon--lg"></i>
                    </div>                    
                </div>
                <div class="card card-2">
                    <div class="card--data">
                        <div class="card--content">
                            <h5 class="card--title">Total User</h5>
                            <h1>25</h1>
                        </div>
                        <i class="ri-user-line card--icon--lg"></i>
                    </div>
                </div>
                <div class="card card-3">
                    <div class="card--data">
                        <div class="card--content">
                            <h5 class="card--title">Booking Schedule</h5>
                            <h1>20</h1>
                        </div>
                        <i class="ri-calendar-2-line card--icon--lg"></i>
                    </div>
                </div>
                <div class="card card-4">
                    <div class="card--data">
                        <div class="card--content">
                            <h5 class="card--title">Service Available</h5>
                            <h1>7</h1>
                        </div>
                        <i class="ri-reserved-line card--icon--lg"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="recent--worker">
            <div class="title">
                <h2 class="section--title">Recent User</h2>
            </div>
            <div class="table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date in</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rafi Islam</td>
                            <td>22/12/2022</td>
                            <td>uddinrafi158@gmail.com</td>
                            <td>01835847561</td>
                            <td>Khulshi Colony, Road No: 3, Division: Chattogram, District: Chattogram, Thana/Upazila: Khulshi </td>
                            <td class="confirmed">Active</td>
                           
                            <td><span><i class="ri-edit-line edit"></i><i class="ri-delete-bin-line delete"></i></span></td>
                        </tr> 
                        <tr>
                            <td>Rakib Uddin</td>
                            <td>25/12/2022</td>
                            <td>rakib2489ud@gmail.com</td>
                            <td>01875351982</td>
                            <td>Master Villa,Khulshi Colony, Road No: 1, Division: Chattogram, District: Chattogram, Thana/Upazila: Khulshi </td>
                            <td class="confirmed">Active</td>
                           
                            <td><span><i class="ri-edit-line edit"></i><i class="ri-delete-bin-line delete"></i></span></td>
                        </tr> 
                        <tr>
                            <td>Ziaul Hoque</td>
                            <td>27/12/2022</td>
                            <td>ziaul24hq@gmail.com</td>
                            <td>01875351982</td>
                            <td>Master Villa,Khulshi Colony, Road No: 1, Division: Chattogram, District: Chattogram, Thana/Upazila: Khulshi </td>
                            <td class="confirmed">Active</td>

                            <td><span><i class="ri-edit-line edit"></i><i class="ri-delete-bin-line delete"></i></span></td>
                        </tr> 
                                                  
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="recent--worker">
            <div class="title">
                <h2 class="section--title">Recent Worker</h2>
            </div>
            <div class="table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date in</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Md Muktar Uddin</td>
                            <td>30/07/2022</td>
                            <td>Male</td>
                            <td>muktar74ctg@gmail.com</td>
                            <td>01519758426</td>
                            <td>Hafija Villa, Road No: 8, Division: Chattogram, District: Chattogram, Thana/Upazila: Khulshi </td>
                            <td class="pending">pending</td>
                            <td><span><i class="ri-edit-line edit"></i><i class="ri-delete-bin-line delete"></i></span></td>
                        </tr> 
                        <tr>
                            <td>Md Mahtab Chowdhury</td>
                            <td>22/09/2022</td>
                            <td>Male</td>
                            <td>mahtab9827@gmail.com</td>
                            <td>01864289173</td>
                            <td>Simran Villa, Road No: 2, Division: Chattogram, District: Chattogram, Thana/Upazila: Khulshi </td>
                            <td class="pending">pending</td>
                            <td><span><i class="ri-edit-line edit"></i><i class="ri-delete-bin-line delete"></i></span></td>
                        </tr> 
                        <tr>
                            <td>Abdul Aziz</td>
                            <td>12/11/2022</td>
                            <td>Male</td>
                            <td>kmpmaamr@gmail.com</td>
                            <td>01858742691</td>
                            <td>Poly Villa,Paharika R/A, Road No: 1, Division: Chattogram, District: Chattogram, Thana/Upazila: Khulshi </td>
                            <td class="pending">pending</td>
                            <td><span><i class="ri-edit-line edit"></i><i class="ri-delete-bin-line delete"></i></span></td>
                        </tr> 
                        <tr>
                            <td>Rafi Islam</td>
                            <td>22/12/2022</td>
                            <td>Male</td>
                            <td>uddinrafi158@gmail.com</td>
                            <td>01835847561</td>
                            <td>Khulshi Colony, Road No: 3, Division: Chattogram, District: Chattogram, Thana/Upazila: Khulshi </td>
                            <td class="pending">pending</td>
                            <td><span><i class="ri-edit-line edit"></i><i class="ri-delete-bin-line delete"></i></span></td>
                        </tr> 
                        <tr>
                            <td>Rakib Uddin</td>
                            <td>25/12/2022</td>
                            <td>Male</td>
                            <td>rakib2489ud@gmail.com</td>
                            <td>01875351982</td>
                            <td>Master Villa,Khulshi Colony, Road No: 1, Division: Chattogram, District: Chattogram, Thana/Upazila: Khulshi </td>
                            <td class="pending">pending</td>
                            <td><span><i class="ri-edit-line edit"></i><i class="ri-delete-bin-line delete"></i></span></td>
                        </tr> 
                        <tr>
                            <td>Ziaul Hoque</td>
                            <td>27/12/2022</td>
                            <td>Male</td>
                            <td>ziaul24hq@gmail.com</td>
                            <td>01875351982</td>
                            <td>Master Villa,Khulshi Colony, Road No: 1, Division: Chattogram, District: Chattogram, Thana/Upazila: Khulshi </td>
                            <td class="pending">pending</td>
                            <td><span><i class="ri-edit-line edit"></i><i class="ri-delete-bin-line delete"></i></span></td>
                        </tr> 
                                                  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script src="/js/admin.js"></script>

