<%- include ('../template/aheader') %>
    <section class="main">
        <div class="sidebar">
            <ul class="sidebar--items">
                <li>
                    <a href="/admin">
                        <span class="icon icon-1"><i class="ri-layout-grid-line"></i></span>
                        <span class="sidebar--item">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/service">
                        <span class="icon icon-2"><i class="ri-git-repository-line"></i></span>
                        <span class="sidebar--item">Service</span>
                    </a>
                </li>
                <li>
                    <a href="/booking" id="active--link">
                        <span class="icon icon-2"><i class="ri-calendar-2-line"></i></span>
                        <span class="sidebar--item">Booking Schedule</span>
                    </a>
                </li>
                <li>
                    <a href="/user">
                        <span class="icon icon-4"><i class="ri-user-line"></i></span>
                        <span class="sidebar--item">User</span>
                    </a>
                </li>
                <li>
                    <a href="/worker">
                        <span class="icon icon-3"><i class="ri-user-2-line"></i></span>
                        <span class="sidebar--item" style="white-space: nowrap;">Worker</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-5"><i class="ri-line-chart-line"></i></span>
                        <span class="sidebar--item">Booking</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-6"><i class="ri-customer-service-line"></i></span>
                        <span class="sidebar--item">Support</span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar--bottom-items">
                <li>
                    <a href="#">
                        <span class="icon icon-7"><i class="ri-settings-3-line"></i></span>
                        <span class="sidebar--item">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                        <span class="sidebar--item">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main--content">
            <div class="recent--worker">
                <div class="title">
                    <h2 class="section--title">Booking Schedule List</h2>
                </div>
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Serial</th>
                                <th>Service Title</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Mobile Number</th>
                                <th>Current Address</th>
                                <th>Destination</th>
                                <th>Status</th>
                                <th>Booking Date</th>
                                <th>Service Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">01</td>
                                <td>Residential Moves (3 Bed)</td>
                                <th scope="row">Md. Jainul</th>
                                <td>jainul869@gmail.com</td>
                                <td>01875351982</td>
                                <th scope="row">Master Villa,Khulshi Colony, Road No: 1, Division: Chattogram, District:
                                    Chattogram, Thana/Upazila: Khulshi</td>
                                <th scope="row">Homayon Villa, Mousumi R/A, Road No: 1, Division: Chattogram, District:
                                    Chattogram, Thana/Upazila: Halishahar</td>
                                <td class="pending">pending</td>
                                <td>08/01/2023</td>
                                <th scope="row">01/02/2023</td>
                                <td><span><i class="ri-edit-line edit"></i><i
                                            class="ri-delete-bin-line delete"></i></span></td>
                            </tr>

                            <tr>
                                <th scope="row">02</td>
                                <td>Residential Moves (2 Bed)</td>
                                <th scope="row">Zamal Khan</th>
                                <td>khanacka123@gmail.com</td>
                                <td>01835847561</td>
                                <th scope="row">Khulshi Colony, Road No: 3, Division: Chattogram, District: Chattogram,
                                    Thana/Upazila: Khulshi</td>
                                <th scope="row">Jihan Villa, Star Ship R/A, Road No: 2, Division: Chattogram, District:
                                    Chattogram, Thana/Upazila: Bayezid</td>
                                <td class="pending">pending</td>
                                <td>10/01/2023</td>
                                <th scope="row">01/02/2023</td>
                                <td><span><i class="ri-edit-line edit"></i><i
                                            class="ri-delete-bin-line delete"></i></span></td>
                            </tr>

                            <tr>
                                <th scope="row">03</td>
                                <td>Residential Moves (3 Bed)</td>
                                <th scope="row">Jihadul Islam</th>
                                <td>islamjihab768@gmail.com</td>
                                <td>01491537183</td>
                                <th scope="row">Roupabad, Road No: 1, Division: Chattogram, District: Chattogram, Thana/Upazila:
                                    Bayezid</td>
                                <th scope="row">Poly Vila, South Khulshi, Road No: 1, Division: Chattogram, District:
                                    Chattogram, Thana/Upazila: Khulshi</td>
                                <td class="pending">pending</td>
                                <td>12/01/2023</td>
                                <th scope="row">01/02/2023</td>
                                <td><span><i class="ri-edit-line edit"></i><i
                                            class="ri-delete-bin-line delete"></i></span></td>
                            </tr>

                            <tr>
                                <th scope="row">04</td>
                                <td>Residential Moves (Single Bed)</td>
                                <th scope="row">Mozammel Hoque</th>
                                <td>mozammel124hq@gmail.com</td>
                                <td>01621351982</td>
                                <th scope="row">Master Villa,Khulshi Colony, Road No: 1, Division: Chattogram, District:
                                    Chattogram, Thana/Upazila: Khulshi</td>
                                <th scope="row"> Anawar Mention, Sugandha R/A, Road No: 5, Division: Chattogram, District:
                                    Chattogram, Thana/Upazila: Panchlaish</td>
                                <td class="pending">pending</td>
                                <td>12/01/2023</td>
                                <th scope="row">01/02/2023</td>
                                <td><span><i class="ri-edit-line edit"></i><i
                                            class="ri-delete-bin-line delete"></i></span></td>
                            </tr>

                            <tr>
                                <th scope="row">05</td>
                                <td>Residential Moves (2 Bed)</td>
                                <th scope="row">Nayan Mozumder</th>
                                <td>jainul869@gmail.com</td>
                                <td>01875351982</td>
                                <th scope="row">Master Villa,Khulshi Colony, Road No: 1, Division: Chattogram, District:
                                    Chattogram, Thana/Upazila: Khulshi</td>
                                <th scope="row">Poly Vila, South Khulshi, Road No: 1, Division: Chattogram, District:
                                    Chattogram, Thana/Upazila: Khulshi</td>
                                <td class="pending">pending</td>
                                <td>12/01/2023</td>
                                <th scope="row">01/02/2023</td>
                                <td><span><i class="ri-edit-line edit"></i><i
                                            class="ri-delete-bin-line delete"></i></span></td>
                            </tr>

                            <tr>
                                <th scope="row">06</td>
                                <td>Residential Moves (2 Bed)</td>
                                <th scope="row">Kalam Uddin</th>
                                <td>kalam24ud@gmail.com</td>
                                <td>01875356175</td>
                                <th scope="row">Master Villa,Khulshi Colony, Road No: 1, Division: Chattogram, District:
                                    Chattogram, Thana/Upazila: Khulshi</td>
                                <th scope="row">Homayon Villa, Mousumi R/A, Road No: 1, Division: Chattogram, District:
                                    Chattogram, Thana/Upazila: Halishahar</td>
                                <td class="pending">pending</td>
                                <td>12/01/2023</td>
                                <th scope="row">01/02/2023</td>
                                <td><span><i class="ri-edit-line edit"></i><i
                                            class="ri-delete-bin-line delete"></i></span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script src=""></script>