<%- include ('../template/header') %>
    <%- include ('../template/nav') %>

        <h1>Home edit</h1>
        <!-- 
    <div class="title">
                    <h2 class="section--title">My Services</h2>
                </div>
                <div class="container">
                    <form action="/add-service" method="post">
                        <div class="mb-3 col-12">
                            <label for="exampleFormControlInput1" class="form-label">Service Title</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="Enter Service Title">
                        </div>
                        <div class="mb-3 col-12">
                            <label for="exampleFormControlTextarea1" class="form-label">Service Details</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            
                
 -->

        <%- include ('../template/footer') %>