<%- include ('../template/header') %>
  <%- include ('../template/nav') -%>

    <!-- Offer section -->

    <section class="news_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>
            Latest <span>Offer</span>
          </h2>
        </div>
        <div class="row">
          <div class="col-lg-6 ">
            <div class="box">
              <div class="img-box">
                <img src="images/b1.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Winter Special!
                </h5>
                <p>
                  Book your move with us before the end of January and receive 10% off your total bill.Free packing and
                  unpacking service with every move! Move with ease and without any additional cost. Offer valid for
                  that time only.
                </p>

              </div>
            </div>
          </div>
          <div class="col-lg-6 ">
            <div class="box">
              <div class="img-box">
                <img src="images/b2.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Offer for PCIU students moving for study
                </h5>
                <p>
                  15% off for all students with valid ID. Move with ease and save on your student budget. Show valid
                  student ID at the time of checkout to avail the offer. Use code PCIU10 at the time of checkout.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end offer section -->


    <%- include ('../template/footer') %>


      <!-- jQery -->
      <script src="js/jquery-3.4.1.min.js"></script>
      <!-- popper js -->
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
      <!-- bootstrap js -->
      <script src="js/bootstrap.js"></script>

      </body>

      </html>