<div class="container mt-5">
    <div class="col-md-6 offset-3 mt-5 card p-5">
        <h3 class="text-center mb-4">Admin Login</h3>
        <form action="/alogin" method="post">
            <div class="mb-3">
                <label for="InputUser" class="form-label">User Id</label>
                <input type="text" class="form-control" id="InputUser" name="userid" aria-describedby="userHelp" required>
                <div id="userHelp" class="form-text">Enter your valid user id.</div>
            </div>
            <div class="mb-3">
                <label for="InputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="InputPassword" name="pass" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>