<!-- footer section -->
<footer class="footer_section">
  <div class="container">
    <a href="/home" class="footer-brand">
      <img src="images/logo_main.png" alt="#" />
    </a>
    <div class="col-lg-10 mx-auto px-0">
      <div class="footer_items">
        <div class="row">
          <div class="col-md-4">
            <a href="">
              <div class="item ">
                <div class="img-box ">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <p>
                  Location: Anawara
                </p>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <div class="item ">
                <div class="img-box ">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <p>
                  +880 1601XXXXXXX
                </p>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <div class="item ">
                <div class="img-box">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <p>
                  houseshiftingserviceanwara@gmail.com
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="social-box">
      <h4>
        Follow Us
      </h4>
      <div class="box">
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-info">
    <div class="container">
      <p>
        Port City International Univaersity
      </p>
    </div>
  </div>
</footer>
<!-- footer section -->
</body>

</html>